body {
  margin: 0;
  border-top: 5px solid rgb(51, 52, 62);
  font: 16px/1.4 "freight-sans-pro", "Helvetica", "Arial", sans-serif;
}

/* TODO: Change to id */
.site-header {
  overflow: auto;
}

#home {
  float: left;
  margin: 12px 0 12px 15px;
  display: block;
  width: 120px;
  height: 120px;
  background: url(/assets/images/logo-small.png);
  line-height: 999;
  overflow: hidden;
}

#site-nav {
  float: right;
  margin: 48px 15px 0;
  font-size: 18px;
  line-height: 1.6;
  list-style: none;
}

#site-nav li {
  float: left;
  padding: 0.75em;
}

#site-nav li + li {
  border-left: 1px solid rgb(233, 233, 233);
}

#site-nav li:hover {
  background-color: rgb(249, 249, 249);
}

#site-nav li a {
  text-decoration: none;
}

#site-nav li a:hover {
  border-bottom: 3px solid rgb(97, 99, 118);
}

#banner {
  margin: 0;
  border-width: 3px 0;
  border-style: solid;
  border-color: rgb(51, 52, 62);
  background: url(/assets/images/hammock.jpg) 0 -1.25em;
  padding: 1em 1em 2.25em;
  text-align: center;
  color: #fff;
}

a {
  color: #33343e;
}

.fa span {
  display: none;
}
