body {
  margin: 0;
  font: 16px/1.4 "freight-sans-pro", "Helvetica", "Arial", sans-serif;
}

.content h1 {
  font-size: 32px;
  font-weight: 100;
  margin-bottom: 0.8em;
}

/* TODO: Change to id */
.site-header {
  max-width: 62.5em;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.header-content {
  border-width: 5px 0 3px;
  border-style: solid;
  border-color: rgb(51, 52, 62);
  overflow: auto;
}

#home {
  float: left;
  margin: 12px 0 12px 15px;
  display: block;
  width: 120px;
  height: 120px;
  background: url(/assets/images/logo-small.png);
  line-height: 999;
  overflow: hidden;
}

#site-nav {
  float: right;
  margin: 48px 15px 0;
  font-size: 18px;
  line-height: 1.6;
  list-style: none;
}

#site-nav li {
  float: left;
  padding: 0.75em;
  text-decoration: none;
}

#site-nav li + li {
  border-left: 1px solid rgb(233, 233, 233);
}

#site-nav li:hover {
  background-color: rgb(249, 249, 249);
}

#site-nav li a:hover {
  border-bottom: 3px solid rgb(97, 99, 118);
}

#banner-picture {
  margin: 0;
  border-bottom: 3px solid rgb(51, 52, 62);
  background: url(/assets/images/hammock.jpg) 0 -1.25em;
  padding: 1em 1em 2.25em;
}

#banner {
  max-width: 62.5em;
  margin: 0 auto;
  padding-top: 3.5em;
  padding-bottom: 2em;
}

#banner h1 {
  text-align: center;
  color: #fff;
  padding: 0 1em;
  margin: 0;
}

.content-wrapper {
  padding: 0 2em;
  padding-top: 1em;
}

.content {
  margin: 0 auto;
  max-width: 60em;
}

#events {
  border-bottom: 3px solid rgb(51, 52, 62);
  background: url(/assets/images/honeycomb-bg.png);
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

#events-list {
  padding: 0;
  list-style: none;
}

#events-list li {
  width: 247px;
  padding: 0 0 2em;
  background: #e9e9e9;
  text-align: center;
}

#events-list h3 {
  margin-top: 0.2em;
  font-weight: normal;
  font-size: 1.5em;
}

#events-list p {
  margin: 0;
  color: #797b91;
}

#events-list .city {
  width: 247px;
  height: 247px;
  background-position: center;
  background-size: cover;
}

#events-list img.organizer {
  margin: -40px auto 0;
  display: block;
  width: 57px;
  height: 57px;
  border: 4px solid #fff;
  -webkit-box-shadow: 0 0 5px #666;
  -moz-box-shadow: 0 0 5px #666;
  box-shadow: 0 0 5px #666;
}

p {
  font-size: 1em;
  line-height: 1.6;
}

.page-link {
  text-decoration: none;
}

a {
  color: #33343e;
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

img {
  max-width: 100%;
}

.fa span {
  display: none;
}

.button-donate {
  font-weight: bold;
  padding: 1em 1.5em 1.2em;
  border-radius: 6px;
  font-size: 13px;
  background: #fec348 none repeat scroll 0 0;
  border: 1px solid #feb215;
  color: #002f86;
}

.button-donate img {
  margin-left: 5px;
  vertical-align: middle;
}

#paypal-button {
  text-align: left;
  margin-bottom: 1.0em;
}

@media screen and (min-width: 640px) {
  #paypal-button {
    text-align: right;
    margin-bottom: -2.0em;
  }
}
