body {
  margin: 0;
  font: 16px/1.4 "freight-sans-pro", "Helvetica", "Arial", sans-serif;
  color: #222;
}

.content h1 {
  font-size: 32px;
  font-weight: 100;
  margin-bottom: 0.8em;
}

/* TODO: Change to id */
.site-header {
  max-width: 62.5em;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.header-content {
  border-width: 5px 0 3px;
  border-style: solid;
  border-color: rgb(51, 52, 62);
  overflow: auto;
}

@media screen and (min-width: 800px) {
  .logo {
    float: left;
    margin: 12px 0 12px 15px;
    display: block;
    width: 120px;
    height: 120px;
    background: url(../assets/images/logo.png);
    line-height: 999;
    overflow: hidden;
  }

  #menu-button {
    visibility: hidden;
  }
}

#site-nav {
  float: right;
  margin: 48px 15px 0;
  font-size: 18px;
  line-height: 1.6;
  list-style: none;
}

#site-nav li {
  float: left;
  padding: 0.75em;
  text-decoration: none;
}

#site-nav li + li {
  border-left: 1px solid rgb(233, 233, 233);
}

#site-nav li:hover {
  background-color: rgb(249, 249, 249);
}

#site-nav li a:hover,
#site-nav li a.current {
  border-bottom: 3px solid rgb(97, 99, 118);
}

#banner-picture {
  margin: 0;
  border-bottom: 3px solid rgb(51, 52, 62);
  background: url(../assets/images/hammock.jpg) 0 -1.25em;
  padding: 1em 1em 2.25em;
}

#banner {
  max-width: 62.5em;
  margin: 0 auto;
  padding-top: 3.5em;
  padding-bottom: 2em;
}

#banner h1 {
  text-align: center;
  color: #fff;
  padding: 0 1em;
  margin: 0;
}

.content-wrapper {
  padding: 0 2em;
  padding-top: 1em;
}

.content {
  margin: 0 auto;
  max-width: 60em;
}

#events {
  border-bottom: 3px solid rgb(51, 52, 62);
  background: url(../assets/images/honeycomb-bg.png);
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

#events-list {
  padding: 0;
  list-style: none;
  overflow: hidden;
}

#events-list li {
  float: left;
  width: 247px;
  padding: 0 0 2em;
  background: #e9e9e9;
  text-align: center;
}

#events-list li + li {
  margin-left: 30px;
}

#events-list h3 {
  margin-top: 0.2em;
  font-weight: normal;
  font-size: 1.5em;
}

#events-list p {
  margin: 0;
  color: #797b91;
}

#events-list .city {
  width: 247px;
  height: 247px;
}

#events-list .organizer {
  margin: -40px auto 0;
  display: block;
  width: 57px;
  height: 57px;
  border: 4px solid #fff;
  -webkit-box-shadow: 0 0 5px #666;
  -moz-box-shadow: 0 0 5px #666;
  box-shadow: 0 0 5px #666;
}

p {
  font-size: 1em;
  line-height: 1.6;
}

.page-link {
  text-decoration: none;
}

a {
  color: #33343e;
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.2em 0 0.5em;
  color: #33343e;
}

img {
  max-width: 100%;
}

.background-image {
  background-position: 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.fa span {
  display: none;
}

.button-donate {
  font-weight: bold;
  padding: 1em 1.5em 1.2em;
  border-radius: 6px;
  font-size: 13px;
  background: #fec348 none repeat scroll 0 0;
  border: 1px solid #feb215;
  color: #002f86;
  text-decoration: none;
}

.button-donate img {
  margin-left: 5px;
  vertical-align: middle;
}

#paypal-button {
  text-align: left;
  margin-bottom: 1.0em;
}

.content-0:after {
  display: block;
  clear: both;
  content: "";
}

.content-1 {
  float: left;
  width: 50%;
}

.content-1 .content-inner {
  padding: 0 0.9375em 0 0;
}

.content-2 {
  float: right;
  width: 50%;
}

.content-2 .content-inner {
  padding: 0 0 0 0.9375em;
}

.location {
  margin: -0.55em 0 0.5em;
  font-size: 1.5em;
  color: #33343e;
}

.dates {
  background: #e9e9e9;
  padding: 0.25em 0.5em;
  font-size: 90%;
  color: #33343e;
}

h3 {
  margin-bottom: 0.375em;
  border-bottom: 2px solid #999a9f;
  padding-bottom: 0.375em;
  font-size: 1.125em;
}

.organizers {
  background: #e9e9e9;
  padding: 0.5em 1em;
}

.organizers .social-media {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 90%;
  color: #707178;
  text-transform: uppercase;
}

.organizers ul {
  margin: 0.5em 0;
  padding: 0;
  list-style: none;
}

.sponsors p {
  margin: 1.5em 0 0.5em;
  font-weight: 100;
  font-size: 1.5em;
}

.sponsors ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sponsors li {
  margin-bottom: 4px;
}

.sponsors img {
  border: 1px solid #e9e9e9;
  padding: 5px;
}

.sponsors a:hover img {
  border-color: #33343e;
}

@media screen and (min-width: 640px) {
  #paypal-button {
    text-align: right;
    margin-bottom: -2.0em;
  }
}

@media screen and (max-width: 799px) {

  .mobile-dropdown {
    height: 380px;
    border-bottom: solid black 5px !important;
  }

  .mobile-dropdown #site-nav {
    line-height: 0.9;
    position: inherit;
    left: inherit;
  }

  .mobile-dropdown #site-nav {
    float: none;
    padding-left: 10px;
  }

  .mobile-dropdown #site-nav li {
    float: none;
  }

  .mobile-dropdown #site-nav li span {
    display: inline;
    font: 16px/1.4 "freight-sans-pro" , "Helvetica", "Arial", sans-serif;
    font-size: 18px;
    padding-left: 10px;
  }

  .mobile-dropdown #site-nav li:hover {
    background-color: transparent;
  }

  .mobile-dropdown #site-nav li + li {
    border-left: none;
  }

  .logo {
    background: url(../assets/images/logo-small.png);
    display: block;
    width: 35px;
    height: 35px;
    margin: 10px 0px 10px 20px;
    background-repeat: no-repeat;
  }

  #site-nav {
    margin: 0px 0px 0px 0px;
    position: absolute;
    left: -999px;
  }

  .header-content {
    overflow: inherit;
    border-style: none;
  }

  #menu-button {
    float: left;
    position: absolute;
    right: 2%;
    padding: 5px 10px 5px 10px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    background-color: #33343e;
    border-radius: 4px;
  }

  .menu-burger {
    padding-left: 5px;
    padding-top: 5px;
  }
}
