---
layout: default
---

<div class="home">

  <div id="banner-picture">
    <div id="banner">
      <h1>
        ClojureBridge aims to increase diversity within the Clojure community by offering free,
        beginner-friendly Clojure programming workshops for underrepresented groups in tech.
      </h1>
    </div>
  </div>

  <div id="events" class="content-wrapper">
    <div class="content">

      <h2>Upcoming Events</h2>

    {% assign upcoming_events = site.posts | where_exp: 'post', 'post.date >= site.time' %}
    {% if upcoming_events.size == 0 %}
      <p>There are no upcoming workshops.</p>
    {% else %}
      <ul class="events-list">
      {% for event in upcoming_events %}
        {% include event.html %}
      {% endfor %}
      </ul>
    {% endif %}

      <h2>Previous Events</h2>

      <ul class="events-list">
    {% for event in site.posts %}
      {% if site.time > event.date %}
        {% include event.html %}
      {% endif %}
    {% endfor %}
      </ul>

    </div>
  </div>

</div>
