---
layout: default
---

<div class="home">

  <h1 id="banner">
    ClojureBridge aims to increase diversity within the Clojure
    community by offering free, beginner-friendly Clojure programming
    workshops for women.
  </h1>

  <ul class="post-list">

    {% assign curDate = site.time | date: '%s' %}
    {% for post in site.posts %}
        {% assign postStartDate = post.date | date: '%s' %}
        {% if postStartDate >= curDate %}
          <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
          </li>
        {% endif %}
    {% endfor %}

</div>
