<div class="header-content">
  <div class="site-header">

    <a id="home" href="/">{{ site.title }}</a>

    <ul id="site-nav">
    {% for page in site.pages %}
      {% if page.title %}
      <li>
        <a id="{{ page.title }}" class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
      </li>
      {% endif %}
    {% endfor %}
      <li>
        <a class="page-link" href="http://bridgefoundry.org/code-of-conduct/">Code of Conduct</a>
      </li>
      <li>
        <a class="page-link" href="https://github.com/ClojureBridge"><i class="fa fa-github"><span>GitHub</span></i></a>
      </li>
      <li>
        <a class="page-link" href="https://twitter.com/ClojureBridge"><i class="fa fa-twitter"><span>Twitter</span></i></a>
      </li>
      <li>
        <a class="page-link" href="mailto:info@clojurebridge.org"><i class="fa fa-envelope-o"><span>Email</span></i></a>
      </li>
    </ul>

  </div>
</div>
