<div id="header-content" class="header-content">
  <div class="site-header">

    <!-- # TODO : don't use the .. path because it won't work for posts -->
    <a id="menu-button" href="#">MENU<img class="menu-burger" src="/assets/images/burger.png"></a>
    <a id="home" class="logo" href="/"></a>

    <ul id="site-nav">
    {% for node in site.pages %}
      {% if node.title %}
      <li>
        <a class="page-link{% if node.url == page.url %} current{% endif %}" href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a>
      </li>
      {% endif %}
    {% endfor %}
      <li>
        <a class="page-link" href="https://bridgefoundry.org/code-of-conduct/">Code of Conduct</a>
      </li>
      <li>
        <a class="page-link" href="https://github.com/ClojureBridge"><i class="fa fa-github"><span>GitHub</span></i></a>
      </li>
      <li>
        <a class="page-link" href="https://twitter.com/ClojureBridge"><i class="fa fa-twitter"><span>Twitter</span></i></a>
      </li>
      <li>
        <a class="page-link" href="mailto:info@clojurebridge.org"><i class="fa fa-envelope-o"><span>Email</span></i></a>
      </li>
    </ul>

  </div>
</div>
