---
layout: default
---
{% assign event=page %}
<article class="post">

  <div class="post-content">
    <div class="content-wrapper">
      <div class="content content-0">
        <div class="content-1">
          <div class="content-inner">
            <h1 class="post-title">ClojureBridge {{ event.city }}</h1>
            <p class="location">{{ event.city }}, {{ event.country }}</p>
            <p class="dates"><i class="fa fa-calendar"></i> {% include event-dates.html %}</p>
            {{ content }}
          </div>
        </div>
        <div class="content-2">
          <div class="content-inner">
          {% if event.latitude and event.longitude %}
            {% assign latitude=event.latitude %}
            {% assign longitude=event.longitude %}
            {% assign zoom=16 %}
            <div id='map' style='width: 400px; height: 300px;'></div>
            <style>
              .marker {
                background-size: cover;
                margin-top: -37px;
              }
            </style>

            <div id='map'></div>

            <script>
              mapboxgl.accessToken = 'pk.eyJ1IjoiY2xvanVyZWJyaWRnZSIsImEiOiJjanhhcWx6MjAwNjZpNDBwYjFndWl5NGkyIn0.4An4DAFMdku7GgcMfN-HPA';
              var map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/streets-v11',
                center: [ {{longitude}}, {{ latitude}}],
                zoom: 6
              });

var geojson = {
  "type": "FeatureCollection",
  "features": [
    {
      "type": "Feature",
      "properties": {
        "iconSize": [60, 74]
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          {{ longitude }},
          {{ latitude }}
        ]
      }
    }]
};

geojson.features.forEach(function(marker) {

  var el = document.createElement('div');
  el.className = 'marker';
  el.style.backgroundImage = 'url(/assets/images/marker.png)';
  el.style.width = marker.properties.iconSize[0] + 'px';
  el.style.height = marker.properties.iconSize[1] + 'px';

  new mapboxgl.Marker(el)
    .setLngLat(marker.geometry.coordinates)
    .addTo(map);
});
            </script>

          {% endif %}
            <h3>Location</h3>
            <p>{% if event.street %}{{ event.street }}, {% endif %}{{ event.city }}, {{ event.country }}</p>
          {% if event.registration-url and event.date > site.time %}
            <div class="registration">
              <p><a class="button-register" href="{{ event.registration-url }}">Register Free</a></p>
            </div>
          {% endif %}
            <div class="organizers">
              <h3>Organizer{% if event.organizers.size > 1 %}s{% endif %}</h3>
              <p>
                We are grateful for the involvement of
                {{ event.organizers | map: 'name' | join: ' and ' }},
                who will host this workshop, and will answer any
                questions you might have before or during the workshop.
              </p>
        {% for organizer in event.organizers %}
          {% if organizer.name %}
            {% if organizer.github or organizer.twitter %}
              <p class="social-media">
                Find {{ organizer.name }} on social media:
              </p>
              <ul>
              {% if organizer.github %}
                <li>
                  <i class="fa fa-github"></i>
                  <a href="https://github.com/{{ organizer.github }}">{{ organizer.github }}</a>
                </li>
              {% endif %}
              {% if organizer.twitter %}
                <li>
                  <i class="fa fa-twitter"></i>
                  <a href="https://twitter.com/{{ organizer.twitter }}">{{ organizer.twitter }}</a>
                </li>
              {% endif %}
              </ul>
            {% endif %}
          {% endif %}
        {% endfor %}
            </div>
          {% if event.sponsors.size > 0 %}
            <div class="sponsors">
              <p>A huge thank you to our sponsor{% if event.sponsors.size > 1 %}s{% endif %}:</p>
              <ul>
              {% for sponsor in event.sponsors %}
                <li>
                  <a href="{{ sponsor.url }}"><img alt="{{ sponsor.name }}" src="{{ sponsor.image }}"></a>
                </li>
              {% endfor %}
              </ul>
            </div>
          {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

</article>
